*{
    margin: 0px;
    font-family:"inter";
    
}

#menu-superior{
    
    background: #303030;
    padding: 100px 62px 90px;
    
}

#titulo-superior{

    color: #fff;
    font-size: 60px;

}

#texto-superior{

    color: #fff;
    margin-top: 13px;
    font-size: 20px;
      
}

#menuimagen{

    background: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 75px;

}

.imagengrid{

    display: flex;
    align-items: center;

}

#menuconteudo{

    background: #fff;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
}

#tituloconteudo{

    color: #000;
    margin-top: 30%;
    margin-left: 62px;
    font-size: 40px;

}

#textoconteudo{

    color: #000;
    margin-left: 62px;
    font-size: 24px;

}

#imagenconteudo{

    border-radius: 30px;
    margin-top: 60px;

}

#formulario{

    margin-top: 60px;
    background: #303030;
    height: 638px;
    text-align: center;

}

#textoformulario{

    color: #FFF;
    margin: 60px;
    font-size: 32px;
    padding-top: 5%;

}

input{

    width: 508px;
    height: 72px;
    border-radius: 10px;
    background: #FFF; 
    font-family: "Raleway";
    font-size: 24px;

}

button{

    width: 286px;
    height: 74px;
    border-radius: 10px;
    background-color: #c07212;
    color: #FFF;
    font-size: 30px;
    font-family:"Raleway";
    
}

button:hover{

    color: #FFF;
    background-color: #c07212;
    transform: translateY(-7px);
    transition-duration: 0.3s;

}
